[
{
"Nome" : "Restaurante 1",
"Latitude" : "-46.7765826",
"Longitude" : "-21.9769438",
"Url_icon" : "../../img/beachflag.png",
"Telefone" : "(19) 3633-0001",
"Endereco" : "Rua São João, 182 - Centro",
"Cidade" : "São João da Boa Vista - SP"
},
{
"Nome" : "Restaurante 2",
"Latitude" : "-46.7805469",
"Longitude" : "-21.9775391",
"Url_icon" : "images/beachflag2.png",
"Telefone" : "(19) 3633-0001",
"Endereco" : "Rua São João, 182 - Centro",
"Cidade" : "São João da Boa Vista - SP"
},
{
"Nome" : "Restaurante 3",
"Latitude" : "-46.7805469",
"Longitude" : "-21.8775391",
"Url_icon" : "images/beachflag.png",
"Telefone" : "(19) 3633-0001",
"Endereco" : "Rua São João, 182 - Centro",
"Cidade" : "São João da Boa Vista - SP"
},
{
"Nome" : "Restaurante 4",
"Latitude" : "-46.7805469",
"Longitude" : "-21.8475391",
"Url_icon" : "images/beachflag.png",
"Telefone" : "(19) 3633-0001",
"Endereco" : "Rua São João, 182 - Centro",
"Cidade" : "São João da Boa Vista - SP"
},
{
"Nome" : "Restaurante 5",
"Latitude" : "-46.3805469",
"Longitude" : "-21.5475391",
"Url_icon" : "images/beachflag.png",
"Telefone" : "(19) 3633-0001",
"Endereco" : "Rua São João, 182 - Centro",
"Cidade" : "São João da Boa Vista - SP"
}
]

